@font-face {
    font-family: 'Dirooz';
    src: url(../fonts/Dirooz.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dirooz';
    list-style-type: none;
}

.container {
    width: 80%;
    margin: 20px auto;
}

.option-container {
    width: fit-content;
    position: relative;
    margin-bottom: 15px;

    &__select {
        appearance: none;
        padding: 10px 5px 10px 30px;
        border: 1px solid #919fab;
    }

    &__chevron-icon {
        width: 20px;
        height: 30px;
        position: absolute;
        left: 7px;
        top: 50%;
        transform: translateY(-50%);
        filter: drop-shadow(0 0 3px #919fab);
    }
}

.search-container {
    height: 35px;

    &__button {
        font-weight: bold;
        padding: 0 7px;
        height: 100%;
        background: #fde26c;
        border: none;
        box-shadow: inset 0px 0 4px gray;
        border-radius: 2px;
    }

    &__input {
        height: 100%;
        border: 2px solid #808080ab;
        font-size: 16px;
        padding: 0 10px;
    }
}

.main {
    width: 100%;
    display: flex;
    height: 400px;
    margin-bottom: 40px;
}

.items-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 20px 0;
}

.list-items {
    height: 315px;
    width: 100%;
    height: 95%;
    direction: ltr;
    overflow-y: scroll;
    padding-right: 10px;

    &__li {
        padding: 10px 0;
        direction: rtl;
        display: grid;
        justify-items: start;

        &--active {
            background: #9fc2e7;
        }
    }

    &__title {
        margin-bottom: 5px;
    }

    &__button-box {
        height: 27px;
        margin-right: 10px;
    }

    &__button {
        box-shadow: inset 0px 0 4px gray, 0 0 10px #919fab;
        font-weight: bold;
        height: 100%;
        font-size: 12px;
        padding: 0 10px;
        border-radius: 3px;
        cursor: pointer;

        &--show {
            background: #dee2e6;
        }

        &--delete {
            background: #feb696;
        }

        &--edit {
            background: #a5cff6;
        }

        &--subShow {
            background: #a0e14f;
        }

        &--hide {
            background: #00a7ee;
        }

        &--create-content {
            background: #8231b3;
            color: #fff;
        }
    }
}

.subItems-container {
    width: 50%;
    background: #9fc2e7;
}

.subItems-list {
    padding-right: 15px;
    height: 100%;
    overflow-y: scroll;
}

.question-container {
    padding: 10px 10px 30px 10px;
    border: 2px solid;
    position: relative;
}

.question-container .question--title {
    font-size: 20px;
    margin-bottom: 10px;
}

.question-box p {
    font-size: 18x;
}

.empty-box {
    color: #646464;
}

.key-word {
    text-decoration: underline;
}

.answer--box {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 10px;
}

.answer--box .answer--box__item1 {
    color: #3fd02b;
}

.answer--box .item {
    width: 180px;
    text-align: center;
    border: 1px solid #000;
    font-size: 17px;
    cursor: pointer;
}

.question-container__btns {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 3px;
    flex-direction: column;
    bottom: 10px;
    left: 10px;
}

.question-container__btns button {
    width: 140px;
    padding: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    background: #06ba57;
    font-weight: 700;
    border-radius: 7px;
    box-shadow: inset 0 -1px 7px #000000b5;
}

.box-shadow {
    box-shadow: 0 0 7px #919fab;
}
